.title-container {
  position: relative;
  & .title {
    font-weight: bolder;
    padding-top: 10px;
    padding-left: 30px;
    font-size: 18px;
  }
  & .title::before {
    content: " ";
    position: absolute;
    left: 18px;
    top: 14px;
    height: 18px;
    width: 4px;
    background-color: #51b5ca;
  }
}
